{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US" dir="LTR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Anjaneyulu Batta" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
    {% block meta_tags %}
    {% endblock %}
    {% block title_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PracticePlacementPapers HR Aptitude Reasoning Technical English</title>
    {% endblock %}
    <!-- Bootstrap  -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{%static 'images/favicon.ico' %}" type="image/x-icon">
      <script type='text/javascript' src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.js"></script>
    {% block css %}
    {% endblock %}
   <!-- end -->
  </head>
  <h1 style="z-index:-999;display:none;">Practice placement papers</h1>
  <body oncontextmenu="return true" onkeypress="return true" onkeydown="return true;">
    <header name="practice-placement-papers">
        <div class="container border">
          <div class="row">
            <div class="container-fluid header">
                <div class="col-lg-12 header_title" style="padding:10px;">
                    <span href="" title="Learn through practice with time constraint">
                      <span style="color: #FF9933">Practice</span>
                      <span>Placement</span>
                      <span style="color: #138808">Papers</span>
                    </span>
              </div>
            </div>
          </div>
        </div>
    </header>
  <!-- navi-menu -->
  <nav class="nav-menu container">
        <div class="container">
            <ul class="nav nav-tabs ">
                <li role="presentation"><a href="{% url 'ppp:home'%}">Home</a></li>
                <li role="presentation"><a href="{% url 'ppp:topic' 'aptitude' %}" title="practice aptitude">Aptitude</a></li>
                <li role="presentation"><a href="{% url 'ppp:topic' 'reasoning' %}" title="practice reasoning">Reasoning</a></li>
                <li role="presentation"><a href="{% url 'ppp:topic' 'english' %}" title="practice english">English</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="click to view topics">Technical &#9660;<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" title="practice c-programming">C Programming</a></li>
                    <li><a href="#" title="practice database management systems">Database Management</a></li>
                    <li><a href="#" title="practice operating systems" >Operating Systems</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" title="practice data structures">Data Structures</a></li>
                    <li><a href="#" title="practice algorithms">Algorithms</a></li>
                    <li><a href="#" title="practice Computer Networks">Computer Networks</a></li>
                  </ul>
                </li>
                <li role="presentation"><a href="{% url 'ppp:topic' 'puzzles' %}" title="practice puzzles" >Puzzles</a></li>
                <li role="presentation"><a href="{% url 'ppp:interview' %}" title="interview tips">Interview</a></li>
                <a href="https://www.djangoproject.com/" title="developed by django web-framework"><img src="https://www.djangoproject.com/s/img/logos/django-logo-negative.svg" style="width:50px;height:40px;float:right;padding:0px;margin:0px;" alt="developed by django framework"></a>
            </ul>
        </div>
    </nav>
    <!-- navi-menu-end -->
    {% block content %}
    {% endblock %}
    <!--footer -->
    <footer class="container">
      <div class="row footer">
        <div class="footer menu">
            <small>&copy; practiceplacementpapers.com  All rights reserved |  <a href="{% url 'ppp:privacy_policy' %}"> Terms of Use | Privacy Policy</a> | Contact us: practiceplacementpapers505@gmail.com | Like us on fb, g+, tw</small>
        </div>
      </div>
    </footer>
    <br>
    <!--end -->
    <!-- jQuery plugins -->

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block javascript %}
    {% endblock %}
    <!-- end -->
</body>
</html>
