{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_tags %}
    <meta name="keywords" content="practice, placement, papers, about, company, {{ company.name }}, free online tests">
    <meta name="description" content=" practice placement papers of {{ company.name }}, {{ company.about|truncatewords:49}} ">
    <meta name="title" content="practice placement papers of {{ company.name }} company">
{% endblock %}
{% block title_tags %}
    <title>Practice Placement Papers | research about company {{ company.name  }} </title>
{% endblock %}
{% block content %}
<div class="container-fluid no-padding no-margin">
    <div class="col-lg-12 advert">
        {% include "advertisements/add-unit-top.html" %}
    </div>
</div>
 <div class="container-fluid no-padding no-margin">
        <div class="col-lg-2 hidden-sm hidden-xs advert">
            {% include "advertisements/add-unit-left.html" %}
        </div>
        <div class="col-lg-8">
        <div class="row">
            <hr>
            <h1>About {{ slug|title|upper}}</h1>
            <!--<div>-->
                <!--<div class="inline"><b> CEO:</b><i> {{ company.ceo }} </i></div>-->
                <!--<div class="inline"><b> Founder(s):</b><i> {{ company.founders }} </i></div>-->
                <!--<div class="inline"><b> Headquarters:</b><i> {{ company.headquarters }} </i></div>-->
            <!--</div>-->
            <hr>
        </div>
        <ul>
            <li>
                <h4>About</h4>

                <span>
                    {{ company.about|safe }}
                </span>
            </li>
            <li>
                <h4>History</h4>
                <span>
                    {{ company.history|safe }}
                </span>
            </li>
            <li>
                <h4>Why to join?</h4>
                <span>
                    {{ company.why_join|safe }}
                </span>
            </li>
        </ul>
        <div class="row">
            <hr>
                <h1>Practice previous year's sample papers</h1>
            <hr>
        </div>
        {% if paper_years %}
        <div class="row">
          {% for year in paper_years %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <i> Practice placement paper of <b>{{ company.name }}</b>&nbsp;<emphasize>{{ year }}</emphasize></i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="advert" href="{{ base_url }}{% url 'ppp:company_test_view' slug year %}">view</a>
                <a class="advert" href="{{ base_url }}{% url 'ppp:company_test_start' slug year %}">Take Test</a>
                <a class="advert" href="{{ base_url }}{% url 'ppp:company_test_start' slug year %}">Download</a>
            </div>
          {% endfor %}
        </div>
        {% else %}
        <strong> Content not available, it will be uploaded soon!!!</strong>
      {% endif %}
  </div>
  <div class="col-lg-2 hidden-sm hidden-xs advert">
            {% include "advertisements/add-unit-right.html" %}
  </div>
</div>
<div class="container-fluid no-padding no-margin">
    <div class="col-lg-12 advert">
        {% include "advertisements/add-unit-bottom.html" %}
    </div>
</div>

{% endblock %}
