{% extends 'base.html' %}
{% load static %}
{% block meta_tags %}
    <meta name="keywords" content="practice placement papers, aptitude, reasoning, english, c language, interview tips, dbms, free online tests, questions">
    <meta name="description" content="practice placement papers of all companies for free with solutions, interview tips, resume formats ">
    <meta name="title" content="practice placement papers">
{% endblock %}
{% block content %}
  <!--content start -->
    <div class="container">
        <div class="row">
            <div id="carousel-slider-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-slider-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-slider-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-slider-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'images/practice_placement_papers_1.png'%}" alt="practice placement papers of all companies">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/practice_placement_papers_3.png'%}" alt="practice placement papers and aptitude questions">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/practice_placement_papers_2.png'%}" alt="practice placement papers and interview tips">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-slider-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-slider-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- Carousel -->
        </div>
    </div>
    <div class="container companies">
        <div class="row footer margin ">
            <h3> About Companies</h3>
        </div>
        <div class="row companies_container">

        {% for company in companies %}
          <a href="{% url 'ppp:company' company.slug %}" title="{{ company.slug }} placement papers">
            <div id="row" class="company col-lg-1" >
                <h4>{{ company.name }}</h4>
                <table style="display:block;">
                    <tr>
                        <td> CEO </td>
                        <td> {{ company.ceo }} </td>
                    </tr>
                    <tr>
                        <td> Founded </td>
                        <td> {{ company.founded.date|date:"d-m-Y" }} </td>
                    </tr>
                    <tr>
                        <td> Founder(s)</td>
                        <td> {{ company.founders }} </td>
                    </tr>
                    <tr>
                        <td> Headquarters </td>
                        <td> {{ company.headquarters }} </td>
                    </tr>
                </table>
            </div>
          </a>
        {% endfor %}
        </div>
    </div>
    <div class="container companies">
        <div class="row footer margin ">
            <h3>Learn why do you need skills?</h3>
        </div>
        <div class="row ">
            <div class="col-lg-5 about">
                <div class="row header bottom_line">
                    <span title="Why Aptitude">Why Aptitude?</span>
                </div>
                <div class="row details">
                    Aptitude is defined as an innate, learned or acquired ability of an individual to perform certain tasks. Aptitude test decides how a candidate think and solve a problem in a given amount of time. Most of the IT/non-IT companies use aptitude test to filter the candidates. So one must have good problem solving skills in aptitude. Not all have but with practice one can learn Aptitude. That will be useful to step into a candidate's desired company.
                </div>
            </div>
            <div class="about col-lg-2">
                <div class="row header bottom_line">
                    <span  title="Why Reasoning">Why Reasoning?</span>
                </div>
                <div class="row details">
                    Reasoning allows us to think about logic. Through logic, we avoid the dangers that could potentially undermine our survival. Logical thinking allows us to transform our activities to produce more efficiently and effectively. Reasoning allows one to think effectively and make solutions simple for difficult problems. That's why most of the companies include reasoning in recruitment tests, with practice one can easily learn reasoning to fulfill one's desires.
                </div>
            </div>
            <div class="col-lg-2 about ">
                <div class="row header bottom_line">
                    <span title="Why English">Why English?</span>
                </div>
                <div class="row details">
                    English is the world's topmost language. You can find the latest information across the web, mostly in English. When you enter into a company, you have to communicate and express your thoughts with people all over the world, the only way to communicate with them is to use the language English. Sometimes you need to write emails to your higher officials, here also you require English language.
                </div>
            </div>
            <div class="about col-lg-2">
                <div class="row header bottom_line">
                    <span title="Why Programming">Why Programming?</span>
                </div>
                <div class="row details">
                    Programming is important to get through the IT companies. One must know the basic fundamentals of programming concepts like "object oriented programming". Knowing one of the programming languages make easier to learn another. Most of the startups and non-profit organizations are looking for the coders to help in their businesses to search for innovative approaches to finding the simple solutions. That's why programming is important.
                </div>
            </div>
            <div class="about col-lg-2">
                <div class="row header bottom_line">
                    <span title="Why Interview">Why Interview?</span>
                </div>
                <div class="row details">
                    The interview is to test the candidate's knowledge in various areas not only in technical aspect but also candidates moral values, how confident candidate is on his decisions, how he think in critical situations and social effectiveness-skills, interpersonal-presentation,and personal / contextual factors.

                </div>
            </div>
        </div>
    </div>
{% endblock %}
