{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_tags %}
    <meta name="keywords" content=" interview tips, resume tips, how to prepare">
    <meta name="description" content="Do your research and know as much as you can about the company/organization Learn as much as you can about the position/job. Access a copy of the job description. Talk to someone employed in the same kind of position. prepare your resume and make sure you have knowledge on each point that you mentioned in resume">
    <meta name="title" content="practice placement papers, how to prepare for an interview ?">
{% endblock %}
{% block content %}
    <!--content start -->
    <div class="container companies clock" >
        <div class="col-lg-12">
            <!--advertisement-->
        </div>
    </div>
    <div class="container companies">
        <div class="col-lg-9">
            <form action="" method="post" id="test_submit">
        {% csrf_token %}
{% for topic,questions in test %}
    <div id="{{ topic.slug }}">
        <div class="col-lg-12 topic">
            <h3>How to prepare for interview ?</h3>
        </div>
        <ol>
          {% for question in questions %}
            <!-- question -->
            <div class="col-lg-12 row question">
                <div>
                    <li>
                        {{ question.data|safe }}
                    </li>
                  {% if question.image %}
                    <!-- question help image -->
                    <div class="col-lg-12">
                        <img src="{{ question.image.url }}">
                    </div>
                  {% endif %}
                {% for answer in question.answers.all %}
                    <!-- answer -->
                    <div class="col-lg-12 question ">
                      {% if answer.image %}
                        <!-- help image -->
                        <div>
                            <img src="{{ answer.image.url }}">
                        </div>
                        <!-- end help image -->
                      {% endif %}
                        <!-- ans explination -->
                        <span>
                                {{ answer.explination|safe }}
                        </span>
                        <!-- ans explination ends -->
                    </div>
                    <!-- end answer -->
                {% endfor %}
                </div>
            </div>
            <!-- question end -->
            {% for question in  question.linked_questions.all %}
                <!-- question -->
                <div class="col-lg-12 question">
                    <div>
                        <li>
                            {{ question.data|safe }}
                        </li>
                      {% if question.image %}
                        <!-- question help image -->
                        <div class="col-lg-12">
                            <img src="{{ question.image.url }}">
                        </div>
                      {% endif %}
                      {% for choice in question.choices.all %}
                        <!-- choice -->
                        <div class="col-lg-6 question choice">
                            <div class="col-lg-1" >
                                {% if choice.id|slugify in request.POST.values %}${% endif %}{% if choice.is_answer %}*{% endif %}
                                <input name="{{ question.id }}" type="radio" value="{{ choice.id }}">
                            </div>
                            <div class="col-lg-10" >
                                {{ choice.description|safe }}
                            </div>
                          {% if choice.image %}
                            <div>
                                <img src="{{ choice.image.url }}">
                            </div>
                          {% endif %}
                        </div>
                        <!--end choice -->
                      {% endfor %}
                      {% for answer in question.answers.all %}
                        <!-- answer -->
                        <div class="col-lg-12 question answer">
                            <span class="question explination title">
                                Explination:
                            </span>
                          {% if answer.image %}
                            <!-- help image -->
                            <div>
                                <img src="{{ answer.image.url }}">
                            </div>
                            <!-- end help image -->
                          {% endif %}
                            <!-- ans explination -->
                            <span>
                                    {{ answer.explination|safe }}
                            </span>
                            <!-- ans explination ends -->
                        </div>
                        <!-- end answer -->
                      {% endfor %}
                    </div>
                </div>
                <!-- question end -->
            {% endfor %}
          {% endfor %}
        </ol>
    </div>
  {% endfor %}
<div class="col-lg-12 text-center">
<nav>
  <ul class="pagination ">
    <li>
       {% if test.0.1.has_previous %}
            <a href="?page={{ test.0.1.previous_page_number }}">
        <span aria-hidden="true">&laquo;</span>
      </a>
        {% endif %}
    </li>
{% with request.GET.page|add:"-5"|slugify|add:":5" as next_pages %}
{% for i in paginator.page_range|slice:next_pages %}
    <li>
        <a href="?page={{ i }}">{{ i }}</a>
    </li>
{% endfor %}
{%endwith%}
    <li>
      {% if test.0.1.has_next %}
            <a href="?page={{ test.0.1.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
      {% endif %}
    </li>
  </ul>
</nav>
</div>
</div>
    <div class="col-lg-3 advertisement">
        <!--advertisement-->
    </div>
</div>

{% endblock %}
