{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_tags %}
    <meta name="keywords" content=" interview tips, resume tips, how to prepare for an interview">
    <meta name="description" content="Do your research and know as much as you can about the company/organization Learn as much as you can about the position/job. Access a copy of the job description. Talk to someone employed in the same kind of position. prepare your resume and make sure you have knowledge on each point that you mentioned in resume">
    <meta name="title" content="practice placement papers, how to prepare for an interview ?">
{% endblock %}
{% block title_tags %}
    <title>Practice Placement Papers | practice interview questions </title>
{% endblock %}
{% block content %}
    <div class="container-fluid  advert">
         {% include "advertisements/add-unit-top.html" %}
    </div>
    <div class="container-fluid no-padding no-margin">
        <div class="col-lg-2 hidden-sm hidden-xs advert">
            {% include "advertisements/add-unit-left.html" %}
        </div>
        <div class="col-lg-8">
            <div class="col-lg-12">
              <div class="clock">
                   <h3><center>Practice {{slug|title }} Questions</center><center><span>{{ date_slug }}</span></center></h3>
              </div>
            </div>
            <div class="col-lg-12">
            <form action="" method="post" id="test_submit">
                {% csrf_token %}
                {% for topic,questions in test %}
                <div id="{{ topic.slug }}">
                    <hr width="100%">
                    <div class="col-lg-12 topic" >
                        <h1>Practice Placement Questions on {{ topic|title }}</h1>
                    </div>
                    <hr width="100%">
                    {% if not questions %}
                        <b>Content will be updated soon. Please revisit again after few days</b>
                    {% endif %}
                    <ol>
                    {% for question in questions %}
                        <!-- question -->
                        <div class="col-lg-12 question">
                            <div>
                                <li>
                                    {{ question.data|safe }}
                                </li>
                              {% if question.image %}
                                <!-- question help image -->
                                <div class="col-lg-12">
                                    <img src="{{ question.image.url }}">
                                </div>
                              {% endif %}
                              {% for answer in question.answers.all %}
                                <!-- answer -->
                                <div class="col-lg-12">
                                    <span class="title">
                                        Answer:
                                    </span>
                                  {% if answer.image %}
                                    <!-- help image -->
                                    <div>
                                        <img src="{{ answer.image.url }}">
                                    </div>
                                    <!-- end help image -->
                                  {% endif %}
                                    <!-- ans explination -->
                                    <span>
                                            {{ answer.explination|safe }}
                                    </span>
                                    <!-- ans explination ends -->
                                </div>
                                <!-- end answer -->
                              {% endfor %}
                            </div>
                        </div>
                        <!-- question end -->
                      {% endfor %}
                    </ol>
        </div>
              {% endfor %}
            </form>
    <div class="col-lg-12 text-center">
    <nav>
      <ul class="pagination">
        <li>
           {% if test.0.1.has_previous %}
                <a href="?page={{ test.0.1.previous_page_number }}">
            <span aria-hidden="true">&laquo;</span>
          </a>
            {% endif %}
        </li>
          <!--{ % with start=request.GET.page|add:"-5" end=request.GET.page|add:"5"%}-->

    {% for i in paginator %}
        <li {% if request.GET.page|slugify == i|slugify%}class="active"{% endif %}>
            <a href="?page={{ i }}" >{{ i }}</a>
        </li>
    {% endfor %}
        <li>
          {% if test.0.1.has_next %}
                <a href="?page={{ test.0.1.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
          {% endif %}
        </li>
      </ul>
    </nav>
    </div>
    </div>
        </div>
        <div class="col-lg-2 hidden-sm hidden-xs advert">
             {% include "advertisements/add-unit-right.html" %}
        </div>
    </div>
    <div class="container-fluid advert">
                {% include "advertisements/add-unit-bottom.html" %}
    </div>

{% endblock %}
