{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_tags %}
    <meta name="keywords" content="privacy policy practice-placement-papers">
    <meta name="description" content="privacy policy  practice-placement-papers">
    <meta name="title" content="practice-placement-papers">
{% endblock %}
{% block css %}
<style>
    h4{
        float: left;
        color:green;
        font-size: 13pt;
    }
</style>
{% endblock %}
{% block content %}
<div class="container companies">
  <div class="col-lg-9" style="min-height: 490px;">
        <h4>Copyright</h4>
        <div class="col-lg-12">
            All content included on this site is the property of practice-placement-papers and protected by Indian and International copyright laws.
            Any copying of the content or software without our written permission can lead to legal action.
        </div>    
        
        <h4>Content on the site</h4>
        <div class="col-lg-12">
            The content on this website(practice-placement-papers) is for your general information and help. It can change anytime without any notice.
            While we are very careful before publishing anything on the site, there can be inaccuracies at times.
            Neither we nor our authors take the guarantee or warranty for the correctness, suitability, timeliness, performance and completeness
            of the content. You acknowledge these inaccuracies and take the responsibility of using the content at your own risk and desire.
            You acknowledge the use of content on this site at your own risk and undertake that you will not hold us liable for any damage caused
            by the use of this content. It will be your responsibility to ascertain that the content on the site meets your requirements.
            At times, the website may contain links to external sites. You understand that these links are provided to give you extra information. These should not be treated as our endorsement for those products and services.
            In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of or in connection with the use of this website.
            Any disputes shall be resolved in accordance with the laws of India as applicable.
        </div>
        <h4>License and access to the site</h4>
        <div class="col-lg-12">
            You are provided with a limited access to the site, as required for your purpose. You can not copy or modify any portion of
            the site without a written permission from practice-placement-papers. The complete site or any portion of the site can not be copied,
            modified, sold, resold or used for any commercial purpose.
        </div>
        <h4>Security Rules </h4>
        <div class="col-lg-12">
            Violating any of the security rules of the site is prohibited:
            Unauthorized logging into any account or server or accessing any data not intended for such user.
            Attempting to test the vulnerability of the system or the breach the security of our network.
            Unauthorized attempt to interfere with the service to any user or host or trying to interfere with the service by means of submitting
            the virus to any of our site or spamming or overloading the site.
            Sending unsolicited promotional e-mails.
            Forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting.
            Interfering with the network security may lead to civil or criminal liability.
        </div>
        <h4>Online Test</h4>
        <div class="col-lg-12">
            The online tests on practice-placement-papers are provided to help you ascertain your competency.
            They can change anytime without any notice.
            While we are very careful before publishing anything on the site, there can be inaccuracies at times.
            Neither we nor our authors take the guarantee or warranty for the correctness, suitability, timeliness,
            performance and completeness of these tests. You acknowledge these inaccuracies and take the responsibility of
            taking the test at your own risk and desire.
            You acknowledge taking the tests on this site at your own risk and undertaking that you will not hold us
            liable for any damage caused by taking them. It will be your responsibility to ascertain that the tests on
            the site meet your requirements.
            In no event will we be liable for any loss or damage including without limitation, indirect or consequential
            loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of or in
            connection with the use of this website.
            If you find any inaccuracies in the questions or answers, please feel free to inform us at practice-placement-papers505@gmail.com . We appreciate this gesture.
        </div>
        <h4>Site policies and modifications</h4>
        <div class="col-lg-12">
            We hold the right to make the modifications to our site, policies, terms and conditions from time to time.
            These changes shall rule your visit and use of the site. If any of these conditions shall be deemed invalid,
            void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.
        </div>
        <h4>Privacy Policy</h4>
        <div class="col-lg-12">
            practice-placement-papers does not sell or use your personal information, you have submitted with us.
        </div>
        <h4>Suggestions and complaints</h4>
        <div class="col-lg-12">
            Any suggestions and complaints can be directed to us at: practice-placement-papers505@gmail.com
        </div>
  </div>
  <div class="col-lg-3 advertisement">
    <!--advertisement-->
  </div>
</div>

{% endblock %}
