{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_tags %}
    <meta name="keywords" content="practice placement papers, {{ sub_topic }}, general, questions, aptitude, answers, explanation, solutions, examples, interview, entrance, exam, online, test, quiz, pdf, download, freshers, ebooks">
    <meta name="description" content=" {{ sub_topic }} questions and answers with detailed explanation for campus interviews, competitive exams and entrance test. Completely solved examples with detailed description and explination to make you easily understood.">
    <meta name="title" content="Practice {{ sub_topic }} previous questions and answers of all companies ">
{% endblock %}
{% block title_tags %}
    <title>Practice Placement Papers | practice questions on {{ sub_topic }} and answers </title>
{% endblock %}
{% block content %}
    <div class="container-fluid  advert">
        {% include "advertisements/add-unit-top.html" %}
    </div>
    <div class="container-fluid no-padding no-margin">
        <div class="col-lg-2 hidden-sm hidden-xs advert">
            {% include "advertisements/add-unit-left.html" %}
        </div>
        <div class="col-lg-8">
            <div class="row">
                <hr>
                <h1>Reading material for {{ subtopic.name|title|upper}}</h1>
                <hr>
            </div>
            <div class="row">
                {% if subtopic.reading %}
                    {{ subtopic.reading|safe }}
                {% else %}
                    <b>Content will be updated soon. Please visit again</b>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-2 hidden-sm hidden-xs advert">
            {% include "advertisements/amazon/add-unit-right.html" %}
        </div>
    </div>
    <div class="container-fluid advert">
        {% include "advertisements/amazon/add-unit-bottom.html" %}
    </div>
{% endblock %}