{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_tags %}
    <meta name="keywords" content="practice, {{ topic.name }}, questions, answers, explanation, solutions, {% for sub_topic in topic.subtopics.all|slice:':20' %} {{ sub_topic }},{%endfor%}">
    <meta name="description" content=" {{ topic.name }} questions and answers with detailed explanation for campus interviews, competitive exams and entrance test. Completely solved examples with detailed description and explination to make you easily understood.">
    <meta name="title" content="practice-placement-papers, practice {{ topic.name }} questions and answers">
{% endblock %}
{% block title_tags %}
    <title>Practice Placement Papers | practice {{ topic.name }} questions and answers </title>
{% endblock %}
{% block content %}
    <!--content start -->
    <div class="container-fluid advert">
         {% include "advertisements/add-unit-top.html" %}
    </div>
    <div class="panel panel-default no-padding no-margin">
        <div class="panel-heading">
            <h1>List of Topics  for {{ topic.name }}</h1>
        </div>
    </div>
    <div class="container-fluid no-padding no-margin">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-sm hidden-xs advert">
                    {% include "advertisements/add-unit-left.html" %}
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        {% for sub_topic in topic.subtopics.all %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <li><a href="{{ base_url }}{% url 'ppp:sub_topic_test' topic=topic.slug sub_topic=sub_topic.slug %}"><h2>{{ sub_topic }}</h2></a></li>
            </div>
        {% endfor %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-sm hidden-xs advert">
                 {% include "advertisements/add-unit-right.html" %}
        </div>
    </div>
    <div class="container-fluid advert">
        {% include "advertisements/add-unit-bottom.html" %}
    </div>
{% endblock %}
