{% extends 'base.html' %}
{% load staticfiles %}


{% block meta_tags %}
    <meta name="keywords" content="{{ topic.name }}, aptitude, questions, answers, pdf, test, quiz, explanation, interview, entrance, exam, solutions, freshers, ebook, download, examples">
    <meta name="description" content="{{ sub_topic }} questions and answers with explanation for written test, interview, competitive exams and entrance test. Completely solved examples with answers. very useful for  preparing  competitive exams such as Written test of IT companies, Bank Exams, CAT Exams, GATE Exams, Railway Exams, SSC, UPSC, Defence and many more.">
    <meta name="title" content="practice placement papers">

    <!-- twitter -->
    <meta name="twitter:card" content="Practice Placement Papers" />
    <meta name="twitter:site" content="@placement505" />
    <meta name="twitter:creator" content="@placement505" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="Questions and Answers - {{ topic.name }}"/>
    <meta property="og:description" content="The biggest collection of placement papers. interview pattern of various companies such as TCS, Infosys, Wipro, Accenture, IBM, CTS etc. Fully solved placement papers with detailed explanations. Improve yourself for best results." />
    <meta property="og:image" content="{{ base_url }}{%static 'images/favicon.ico' %}" />
    <!--/end  -->
    <!-- facebook -->
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Questions and Answers - {{ topic.name }}" />
    <meta property="og:description" content="The biggest collection of placement papers. interview pattern of various companies such as TCS, Infosys, Wipro, Accenture, IBM, CTS etc. Fully solved placement papers with detailed explanations. Improve yourself for best results." />
    <meta property="og:image" content="{{ base_url }}{%static 'images/favicon.ico' %}" />
    <!--/end  -->

{% endblock %}

{% block title_tags %}
    <title> Questions and Answers - {{ topic.name }} </title>
{% endblock %}

{% block content %}
    <!--content start -->
    <div class="container-fluid advert">
         {% include "advertisements/amazon/add-unit-bottom.html" %}
    </div>
    <div class="panel panel-default no-padding no-margin">
        <div class="panel-heading">
            <h1>List of Topics  for {{ topic.name }}</h1>
        </div>
    </div>
    <div class="container-fluid no-padding no-margin">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-sm hidden-xs advert">
                    {% include "advertisements/add-unit-left.html" %}
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        {% for sub_topic in topic.subtopics.all %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="{{ base_url }}{% url 'ppp:sub_topic_test' topic=topic.slug sub_topic=sub_topic.slug %}"><h2>{{ sub_topic }}</h2></a>
            </div>
        {% endfor %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-sm hidden-xs advert">
                 {% include "advertisements/add-unit-right.html" %}
        </div>
    </div>
    <div class="container-fluid advert">
        {% include "advertisements/add-unit-bottom.html" %}
    </div>
{% endblock %}
{% block disqus %}
{% endblock %}
{% block disqus_code %}
{% endblock %}
{% block javascript %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ base_url }}",
      "name": "Placement Papers"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ base_url }}{% url 'ppp:topic' slug=topic.slug %}",
      "name": "{{ topic }}"
    }
  }]
}
</script>
{% endblock %}