{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_tags %}
    <meta name="keywords" content="{% for sub_topic in topic.subtopics.all|slice:':20' %} {{ sub_topic }},{%endfor%}">
    <meta name="description" content="practice placement papers of all companies for free with solutions, interview tips, resume formats ">
    <meta name="title" content="practiceplacementpapers, practice {{ topic.name }} questions and answers">
{% endblock %}
{% block content %}
    <!--content start -->
    <div class="container companies">
        <div class="col-lg-6">
            <!--advertisement-->
        </div>
        <div class="col-lg-6">
            <!--advertisement-->
        </div>
    </div>
    <div class="container companies topics " >
        <div class="row footer margin ">
            <h3>List of Topics  for {{ topic.name }}</h3>
        </div>
        <div class="col-lg-9" style="min-height:449px;">
        {% for sub_topic in topic.subtopics.all %}
            <div class="col-lg-4">
                <li><a href="{% url 'ppp:sub_topic_test' topic=topic.slug sub_topic=sub_topic.slug %}">{{ sub_topic }}</a></li>
            </div>
        {% endfor %}
        </div>
        <div class="col-lg-3">
            <!--advertisement-->
        </div>
    </div>
{% endblock %}
